---
import { cn } from '@/lib/utils';

interface Props {
  class?: string;
}

const { class: className, ...props } = Astro.props;
---

<nav
  role='navigation'
  aria-label='pagination'
  data-slot='pagination'
  class={cn('mx-auto flex w-full justify-center', className)}
  {...props}>
  <slot />
</nav>
