---
import { ChevronLeftIcon } from '@lucide/astro';
import { cn } from '@/lib/utils';
import PaginationLink from './link.astro';

interface Props {
  class?: string;
  href: string;
}

const { class: className, href, ...props } = Astro.props;
---

<PaginationLink
  href={href}
  aria-label='Go to previous page'
  size='default'
  class={cn('gap-1 px-2.5 sm:pl-2.5', className)}
  {...props}>
  <ChevronLeftIcon />
  <span class='hidden sm:block'>Previous</span>
</PaginationLink>
