---
import { ServerCrash } from '@lucide/astro';
import Card from '@/components/ui/card/index.astro';
import CardHeader from '@/components/ui/card/header.astro';
import CardTitle from '@/components/ui/card/title.astro';
import CardDescription from '@/components/ui/card/description.astro';
import CardContent from '@/components/ui/card/content.astro';
import CardFooter from '@/components/ui/card/footer.astro';
import { buttonVariants } from '@/components/ui/button/variants';
---

<div class='bg-background flex min-h-full items-center justify-center p-4'>
  <Card class='w-full max-w-md overflow-hidden'>
    <CardHeader class='p-6 pb-0 md:p-8 md:pb-0'>
      <div class='flex flex-col items-center text-center'>
        <div
          class='bg-destructive/10 mb-6 flex h-24 w-24 items-center justify-center rounded-full'>
          <ServerCrash class='text-destructive size-8' />
        </div>
        <CardTitle class='text-foreground mb-2 text-2xl font-bold'>
          Something went wrong
        </CardTitle>
        <CardDescription class='text-muted-foreground mb-4'>
          We're sorry, but we encountered an unexpected error while processing
          your request.
        </CardDescription>
      </div>
    </CardHeader>
    <CardContent>
      <CardFooter class='flex items-center justify-center gap-8'>
        <a class={buttonVariants({ variant: 'outline', size: 'lg' })}
          >Try again</a
        >
        <a class={buttonVariants({ size: 'lg' })}>Go home</a>
      </CardFooter>
    </CardContent>
  </Card>
</div>
