<footer class='mt-auto border-t py-4'>
  <div class='container text-center'>
    <span>
      Built by{' '}
      <a
        href='https://github.com/zougari47'
        class='hover:text-primary font-bold'
        target='_blank'
        rel='noopener noreferrer'>
        Ahmed Zougari
      </a>
    </span>
  </div>
</footer>
