---
import { Image } from 'astro:assets';
import { buttonVariants } from '@/components/ui/button/variants.ts';
import HeroImage from '@/assets/hero.png';
import { cn } from '@/lib/utils';
---

<div class='relative'>
  <div
    class='flex h-[clamp(300px,100vh,800px)] max-h-[800px] items-center justify-between'>
    <section class='w-full text-center lg:max-w-lg lg:text-left'>
      <h1
        class='mb-4 scroll-m-20 text-3xl font-extrabold tracking-tight capitalize lg:text-4xl'>
        Get Udemy courses for free with 100% coupons
      </h1>
      <p class='text-muted-foreground mb-6'>
        We look up daily for the latest available Udemy 100% coupons and we
        share them on our website. Take the chance to enroll in courses on your
        favorite topic for free.
      </p>
      <a class={cn(buttonVariants({ size: 'lg' }), 'text-xl')} href='/courses'>
        Explore Courses
      </a>
    </section>

    <div class='hidden w-3/4 items-center justify-end lg:flex'>
      <Image
        class='h-auto w-3/4'
        src={HeroImage}
        alt='e-learning'
        width='400'
        height='400'
      />
    </div>
  </div>
</div>
