---
import Layout from '@/layouts/default.astro';
import ErrorCard from '@/components/error.astro';
import CourseDetails from '@/components/course-details.astro';
import type { Course } from '@/types';
import { cn } from '@/lib/utils';
import { buttonVariants } from '@/components/ui/button/variants';

const { slug } = Astro.params;
const api = `${import.meta.env.API}/courses/slug/${encodeURIComponent(slug)}`;

const fetchCourse = async () => {
  try {
    const response = await fetch(api);
    if (!response.ok) throw new Error('Network response was not ok');
    const course = await response.json();
    return course as Course;
  } catch (error) {
    console.error('Fetch error:', error);
    return null;
  }
};

const course: Course = await fetchCourse();
---

<Layout>
  <div class='container my-5'>
    {
      course ? (
        <div>
          <main class='mx-auto max-w-2xl'>
            <CourseDetails course={course} />
            <a
              href={course.url}
              target='_blank'
              rel='noopener noreferrer'
              class={cn(
                buttonVariants({ size: 'lg' }),
                'w-full cursor-pointer justify-center font-semibold',
              )}>
              Get Coupons
            </a>
          </main>
        </div>
      ) : (
        <ErrorCard />
      )
    }
  </div>
</Layout>
